#### Homework 1

## Part 1: Data Cleaning and Exploration (Python & R)

1. Load the dataset. Check the first 5 rows.
2. Identify columns with missing values and their respective counts. Drop columns where more than
50% of the data is missing (store this version as a new dataset).
3. Convert the DATE OCC column to a datetime format. Extract the year, month, and day into separate
columns. Create a new column for the hour using the TIME OCC column.
4. Filter the dataset for crimes that occurred in 2023. Further filter crimes with the description
BURGLARY in the Crm Cd Desc column.
5. Group the data by AREA NAME and calculate the total number of crimes and the average victim age.
Sort the results by total crimes in descending order

In [55]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import datetime

In [56]:
crime_data = pd.read_csv('crime_data.csv')
crime_data.head(5)

,DR_NO,Date Rptd,DATE OCC,TIME OCC,AREA,AREA NAME,Rpt Dist No,Part 1-2,Crm Cd,Crm Cd Desc,...,Status,Status Desc,Crm Cd 1,Crm Cd 2,Crm Cd 3,Crm Cd 4,LOCATION,Cross Street,LAT,LON
0,241711715,08/01/2024 12:00:00 AM,08/01/2024 12:00:00 AM,1319,17,Devonshire,1791,1,440,THEFT PLAIN - PETTY ($950 & UNDER),...,IC,Invest Cont,440.0,NaN,NaN,NaN,8300 KELVIN AV,NaN,34.2200,-118.5863
1,231014031,09/21/2023 12:00:00 AM,09/15/2023 12:00:00 AM,1930,10,West Valley,1011,2,354,THEFT OF IDENTITY,...,IC,Invest Cont,354.0,NaN,NaN,NaN,18900 CANTLAY ST,NaN,34.2023,-118.5458
2,231010808,06/27/2023 12:00:00 AM,06/26/2023 12:00:00 AM,1230,10,West Valley,1015,2,354,THEFT OF IDENTITY,...,IC,Invest Cont,354.0,NaN,NaN,NaN,7300 ENFIELD AV,NaN,34.2033,-118.5241
3,211410441,04/25/2021 12:00:00 AM,04/25/2021 12:00:00 AM,2330,14,Pacific,1488,2,626,INTIMATE PARTNER - SIMPLE ASSAULT,...,IC,Invest Cont,626.0,NaN,NaN,NaN,5800 W CENTURY BL,NaN,33.9456,-118.3835
4,211114569,10/25/2021 12:00:00 AM,10/25/2021 12:00:00 AM,1455,11,Northeast,1123,1,210,ROBBERY,...,IC,Invest Cont,210.0,NaN,NaN,NaN,2900 LOS FELIZ BL,NaN,0.0000,0.0000

In [57]:
null_data = crime_data.isnull()
true_counts = null_data.apply(lambda col: (col == True).sum())
true_counts[true_counts!=0]

Mocodes            7498
Vict Sex           7163
Vict Descent       7165
Premis Desc          29
Weapon Used Cd    33654
Weapon Desc       33654
Crm Cd 1              2
Crm Cd 2          46448
Crm Cd 3          49885
Crm Cd 4          49995
Cross Street      42258
dtype: int64

In [58]:
crime_data.dropna(thresh = len(crime_data.index)//2, axis = 1)

,DR_NO,Date Rptd,DATE OCC,TIME OCC,AREA,AREA NAME,Rpt Dist No,Part 1-2,Crm Cd,Crm Cd Desc,...,Vict Sex,Vict Descent,Premis Cd,Premis Desc,Status,Status Desc,Crm Cd 1,LOCATION,LAT,LON
0,241711715,08/01/2024 12:00:00 AM,08/01/2024 12:00:00 AM,1319,17,Devonshire,1791,1,440,THEFT PLAIN - PETTY ($950 & UNDER),...,M,O,501.0,SINGLE FAMILY DWELLING,IC,Invest Cont,440.0,8300 KELVIN AV,34.2200,-118.5863
1,231014031,09/21/2023 12:00:00 AM,09/15/2023 12:00:00 AM,1930,10,West Valley,1011,2,354,THEFT OF IDENTITY,...,F,W,501.0,SINGLE FAMILY DWELLING,IC,Invest Cont,354.0,18900 CANTLAY ST,34.2023,-118.5458
2,231010808,06/27/2023 12:00:00 AM,06/26/2023 12:00:00 AM,1230,10,West Valley,1015,2,354,THEFT OF IDENTITY,...,F,O,501.0,SINGLE FAMILY DWELLING,IC,Invest Cont,354.0,7300 ENFIELD AV,34.2033,-118.5241
3,211410441,04/25/2021 12:00:00 AM,04/25/2021 12:00:00 AM,2330,14,Pacific,1488,2,626,INTIMATE PARTNER - SIMPLE ASSAULT,...,F,B,503.0,HOTEL,IC,Invest Cont,626.0,5800 W CENTURY BL,33.9456,-118.3835
4,211114569,10/25/2021 12:00:00 AM,10/25/2021 12:00:00 AM,1455,11,Northeast,1123,1,210,ROBBERY,...,X,X,412.0,"ELECTRONICS STORE (IE:RADIO SHACK, ETC.)",IC,Invest Cont,210.0,2900 LOS FELIZ BL,0.0000,0.0000
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
49995,211415242,07/18/2021 12:00:00 AM,07/18/2021 12:00:00 AM,1651,14,Pacific,1494,2,623,BATTERY POLICE (SIMPLE),...,M,H,212.0,TRANSPORTATION FACILITY (AIRPORT),AA,Adult Arrest,623.0,200 WORLD WAY WY,33.9420,-118.4095
49996,200905135,01/27/2020 12:00:00 AM,01/25/2020 12:00:00 AM,1100,9,Van Nuys,941,1,210,ROBBERY,...,M,O,124.0,BUS STOP,IC,Invest Cont,210.0,SEPULVEDA BL,34.1758,-118.4662
49997,220711599,07/14/2022 12:00:00 AM,07/13/2022 12:00:00 AM,305,7,Wilshire,721,1,310,BURGLARY,...,M,W,203.0,OTHER BUSINESS,IC,Invest Cont,310.0,8500 W 3RD ST,34.0734,-118.3765
49998,211810785,05/21/2021 12:00:00 AM,05/21/2021 12:00:00 AM,200,18,Southeast,1842,2,626,INTIMATE PARTNER - SIMPLE ASSAULT,...,F,B,101.0,STREET,IC,Invest Cont,626.0,IMPERIAL HY,33.9310,-118.2739
49999,241406818,03/02/2024 12:00:00 AM,11/10/2022 12:00:00 AM,1600,14,Pacific,1473,1,821,SODOMY/SEXUAL CONTACT B/W PENIS OF ONE PERS TO...,...,F,B,501.0,SINGLE FAMILY DWELLING,IC,Invest Cont,821.0,7400 W MANCHESTER AV,33.9599,-118.4237

In [59]:
crime_data['DATE OCC'] = pd.to_datetime(crime_data['DATE OCC'], format='%m/%d/%Y %H:%M:%S AM')
crime_data['Year'] = crime_data['DATE OCC'].dt.year
crime_data['Month'] = crime_data['DATE OCC'].dt.month
crime_data['Day'] = crime_data['DATE OCC'].dt.day
crime_data['Hour'] = crime_data['TIME OCC'].apply(lambda x: int(str(x)[:2]))
crime_data

,DR_NO,Date Rptd,DATE OCC,TIME OCC,AREA,AREA NAME,Rpt Dist No,Part 1-2,Crm Cd,Crm Cd Desc,...,Crm Cd 3,Crm Cd 4,LOCATION,Cross Street,LAT,LON,Year,Month,Day,Hour
0,241711715,08/01/2024 12:00:00 AM,2024-08-01 12:00:00,1319,17,Devonshire,1791,1,440,THEFT PLAIN - PETTY ($950 & UNDER),...,NaN,NaN,8300 KELVIN AV,NaN,34.2200,-118.5863,2024,8,1,13
1,231014031,09/21/2023 12:00:00 AM,2023-09-15 12:00:00,1930,10,West Valley,1011,2,354,THEFT OF IDENTITY,...,NaN,NaN,18900 CANTLAY ST,NaN,34.2023,-118.5458,2023,9,15,19
2,231010808,06/27/2023 12:00:00 AM,2023-06-26 12:00:00,1230,10,West Valley,1015,2,354,THEFT OF IDENTITY,...,NaN,NaN,7300 ENFIELD AV,NaN,34.2033,-118.5241,2023,6,26,12
3,211410441,04/25/2021 12:00:00 AM,2021-04-25 12:00:00,2330,14,Pacific,1488,2,626,INTIMATE PARTNER - SIMPLE ASSAULT,...,NaN,NaN,5800 W CENTURY BL,NaN,33.9456,-118.3835,2021,4,25,23
4,211114569,10/25/2021 12:00:00 AM,2021-10-25 12:00:00,1455,11,Northeast,1123,1,210,ROBBERY,...,NaN,NaN,2900 LOS FELIZ BL,NaN,0.0000,0.0000,2021,10,25,14
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
49995,211415242,07/18/2021 12:00:00 AM,2021-07-18 12:00:00,1651,14,Pacific,1494,2,623,BATTERY POLICE (SIMPLE),...,NaN,NaN,200 WORLD WAY WY,NaN,33.9420,-118.4095,2021,7,18,16
49996,200905135,01/27/2020 12:00:00 AM,2020-01-25 12:00:00,1100,9,Van Nuys,941,1,210,ROBBERY,...,NaN,NaN,SEPULVEDA BL,HATTERAS,34.1758,-118.4662,2020,1,25,11
49997,220711599,07/14/2022 12:00:00 AM,2022-07-13 12:00:00,305,7,Wilshire,721,1,310,BURGLARY,...,NaN,NaN,8500 W 3RD ST,NaN,34.0734,-118.3765,2022,7,13,30
49998,211810785,05/21/2021 12:00:00 AM,2021-05-21 12:00:00,200,18,Southeast,1842,2,626,INTIMATE PARTNER - SIMPLE ASSAULT,...,NaN,NaN,IMPERIAL HY,MAIN ST,33.9310,-118.2739,2021,5,21,20
49999,241406818,03/02/2024 12:00:00 AM,2022-11-10 12:00:00,1600,14,Pacific,1473,1,821,SODOMY/SEXUAL CONTACT B/W PENIS OF ONE PERS TO...,...,NaN,NaN,7400 W MANCHESTER AV,NaN,33.9599,-118.4237,2022,11,10,16

In [60]:
crime_data[crime_data['Year'] == 2023]

,DR_NO,Date Rptd,DATE OCC,TIME OCC,AREA,AREA NAME,Rpt Dist No,Part 1-2,Crm Cd,Crm Cd Desc,...,Crm Cd 3,Crm Cd 4,LOCATION,Cross Street,LAT,LON,Year,Month,Day,Hour
1,231014031,09/21/2023 12:00:00 AM,2023-09-15 12:00:00,1930,10,West Valley,1011,2,354,THEFT OF IDENTITY,...,NaN,NaN,18900 CANTLAY ST,NaN,34.2023,-118.5458,2023,9,15,19
2,231010808,06/27/2023 12:00:00 AM,2023-06-26 12:00:00,1230,10,West Valley,1015,2,354,THEFT OF IDENTITY,...,NaN,NaN,7300 ENFIELD AV,NaN,34.2033,-118.5241,2023,6,26,12
9,230710008,05/24/2023 12:00:00 AM,2023-04-11 12:00:00,900,7,Wilshire,721,2,354,THEFT OF IDENTITY,...,NaN,NaN,100 S DOHENY DR,NaN,34.0750,-118.3897,2023,4,11,90
11,231306866,02/24/2023 12:00:00 AM,2023-02-24 12:00:00,1030,13,Newton,1361,1,761,BRANDISH WEAPON,...,NaN,NaN,200 W 48TH ST,NaN,33.9992,-118.2762,2023,2,24,10
13,230714059,08/31/2023 12:00:00 AM,2023-08-30 12:00:00,1148,7,Wilshire,723,1,442,SHOPLIFTING - PETTY THEFT ($950 & UNDER),...,NaN,NaN,7900 BEVERLY BL,NaN,34.0761,-118.3616,2023,8,30,11
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
49986,231116425,12/04/2023 12:00:00 AM,2023-12-03 12:00:00,1900,11,Northeast,1133,2,626,INTIMATE PARTNER - SIMPLE ASSAULT,...,NaN,NaN,3400 CASITAS AV,NaN,34.1184,-118.2547,2023,12,3,19
49988,231310722,05/15/2023 12:00:00 AM,2023-05-09 12:00:00,2030,13,Newton,1307,1,330,BURGLARY FROM VEHICLE,...,NaN,NaN,1600 E OLYMPIC BL,NaN,34.0349,-118.2436,2023,5,9,20
49990,230500901,11/12/2023 12:00:00 AM,2023-11-12 12:00:00,1315,5,Harbor,515,1,310,BURGLARY,...,NaN,NaN,1500 BAY VIEW AV,NaN,33.7929,-118.2710,2023,11,12,13
49991,230319041,11/01/2023 12:00:00 AM,2023-10-30 12:00:00,1830,3,Southwest,355,2,626,INTIMATE PARTNER - SIMPLE ASSAULT,...,NaN,NaN,3700 S WESTERN AV,NaN,34.0219,-118.3133,2023,10,30,18
49993,230313342,07/10/2023 12:00:00 AM,2023-07-10 12:00:00,600,3,Southwest,363,1,420,THEFT FROM MOTOR VEHICLE - PETTY ($950 & UNDER),...,NaN,NaN,3700 S VICTORIA AV,NaN,34.0180,-118.3363,2023,7,10,60

In [61]:
crime_data[(crime_data['Year'] == 2023) & (crime_data['Crm Cd Desc'] == 'BURGLARY')]

,DR_NO,Date Rptd,DATE OCC,TIME OCC,AREA,AREA NAME,Rpt Dist No,Part 1-2,Crm Cd,Crm Cd Desc,...,Crm Cd 3,Crm Cd 4,LOCATION,Cross Street,LAT,LON,Year,Month,Day,Hour
47,231107877,04/15/2023 12:00:00 AM,2023-01-15 12:00:00,500,11,Northeast,1151,1,310,BURGLARY,...,NaN,NaN,5000 W SUNSET BL,NaN,34.0981,-118.2983,2023,1,15,50
147,231912840,08/15/2023 12:00:00 AM,2023-08-14 12:00:00,2200,19,Mission,1962,1,310,BURGLARY,...,NaN,NaN,15000 CORE LN,NaN,34.2424,-118.4596,2023,8,14,22
292,230813484,08/19/2023 12:00:00 AM,2023-08-19 12:00:00,510,8,West LA,857,1,310,BURGLARY,...,NaN,NaN,9400 W PICO BL,NaN,34.0553,-118.3943,2023,8,19,51
317,230126836,12/20/2023 12:00:00 AM,2023-12-10 12:00:00,1200,1,Central,154,1,310,BURGLARY,...,NaN,NaN,100 E 6TH ST,NaN,34.0460,-118.2493,2023,12,10,12
326,231506351,02/26/2023 12:00:00 AM,2023-02-22 12:00:00,1230,15,N Hollywood,1562,1,310,BURGLARY,...,NaN,NaN,4400 BABCOCK AV,NaN,34.1504,-118.4063,2023,2,22,12
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
49845,231606276,03/14/2023 12:00:00 AM,2023-03-14 12:00:00,1,16,Foothill,1677,1,310,BURGLARY,...,NaN,NaN,7800 SHADYCOVE AV,NaN,34.2130,-118.3442,2023,3,14,1
49850,230811878,07/13/2023 12:00:00 AM,2023-06-23 12:00:00,1200,8,West LA,807,1,310,BURGLARY,...,NaN,NaN,1800 CALGARY LN,NaN,34.1044,-118.4448,2023,6,23,12
49874,231320692,11/16/2023 12:00:00 AM,2023-11-11 12:00:00,1600,13,Newton,1303,1,310,BURGLARY,...,NaN,NaN,500 E 9TH ST,NaN,34.0388,-118.2519,2023,11,11,16
49922,231515412,09/28/2023 12:00:00 AM,2023-09-26 12:00:00,1530,15,N Hollywood,1547,1,310,BURGLARY,...,NaN,NaN,11400 ALBERS ST,NaN,34.1705,-118.3790,2023,9,26,15
49990,230500901,11/12/2023 12:00:00 AM,2023-11-12 12:00:00,1315,5,Harbor,515,1,310,BURGLARY,...,NaN,NaN,1500 BAY VIEW AV,NaN,33.7929,-118.2710,2023,11,12,13

In [62]:
crime_data.groupby("AREA NAME").agg(
    Average_Victim_Age=('Vict Age', 'mean'),
    Count=('Vict Age', 'size')
).sort_values(by='Count', ascending=False)

             Average_Victim_Age  Count
AREA NAME
Central               28.481376   3517
77th Street           29.151525   3115
Pacific               28.978029   3004
Southwest             29.048040   2831
Hollywood             28.331377   2556
Newton                25.054789   2537
Olympic               27.732858   2523
N Hollywood           28.346784   2503
Southeast             28.362749   2459
Rampart               26.273451   2388
Wilshire              29.595628   2379
West LA               30.307248   2249
Van Nuys              31.748381   2162
West Valley           30.640492   2114
Northeast             28.732763   2103
Topanga               34.018786   2076
Harbor                26.983918   2052
Devonshire            29.597735   2031
Mission               29.609415   1933
Hollenbeck            26.158437   1843
Foothill              30.511385   1625

## Exercise 3

In [63]:
crime_data.groupby("Crm Cd Desc")["Crm Cd Desc"].count().sort_values(ascending=False)[:3]

Crm Cd Desc
VEHICLE - STOLEN            5733
BATTERY - SIMPLE ASSAULT    3715
THEFT OF IDENTITY           3169
Name: Crm Cd Desc, dtype: int64

In [64]:
crime_data.groupby("Hour")["Count"].count()

KeyError: 'Column not found: Count'

In [47]:
crime_data.groupby("Vict Sex").agg({"Vict Age": ['count', 'mean']})

         Vict Age
            count       mean
Vict Sex
F           17922  38.164156
H               3  36.333333
M           20076  37.165621
X            4836   2.672043

## Exercise 4

In [49]:
crime_data["Severity Score"] = crime_data["Weapon Used Cd"].apply(lambda x: 5 if not pd.isna(x) else 0)
crime_data["Severity Score"] += crime_data["Crm Cd Desc"].apply(lambda x: 3 if x == "BURGLARY" else 0)
crime_data["Severity Score"] = crime_data["Severity Score"].apply(lambda x: 1 if x == 0 else x)
crime_data.groupby("AREA NAME")["Severity Score"].sum()

AREA NAME
77th Street    9298
Central        8625
Devonshire     4510
Foothill       3856
Harbor         4949
Hollenbeck     4454
Hollywood      6707
Mission        4499
N Hollywood    5476
Newton         6815
Northeast      4476
Olympic        6275
Pacific        6652
Rampart        6267
Southeast      7162
Southwest      7029
Topanga        4541
Van Nuys       4751
West LA        4763
West Valley    4994
Wilshire       5212
Name: Severity Score, dtype: int64